// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #f8ff6A !default;
$header-bg-color-secondary: #ff5858 !default;

// Text
$section-headings-color: #000000 !default;
$body-text-color: #666666 !default;
$body-link-color: #35aafb !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #fffda0 !default;
$code-text-color: #555555 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
